html, body {
    height: 100%;
    margin: 0px 0px 0px 0px;
    width: 100%;
    background-image: url('../images/batiment_isep.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1
{
    text-align: center;
    background-color: rgb(200,200,200);
    opacity: 0.8;
    border-radius: 5px;
}

.btn-group
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-primary
{
    background-color: rgb(200,200,200) !important;
    color: black !important;
}

.btn-default
{
    border: none !important;
}
.visualisation_membres
{
    border-top: solid;
    border-bottom: solid;
}
.membre
{
    display: flex;
}
.membre p
{
 margin: auto;
}
.conteneur
{
    display : flex;
    background-color: rgb(200,200,200);
    opacity: 0.8;
    border-radius: 5px;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 2em;
}
.contenu
{

    padding: 2em;
    color: black;
    font-size: 18px;

}

#button_ajouter_groupe
{

    margin-top: 3em;


}

.boite
{
    display: flex;
    justify-content: space-between;

}

.formulaire_ajout_groupe
{
    display: block;
}

.input_ajout_groupe
{
    margin : 1em;
}
