html, body {
    height: 100%;
    margin: 0px 0px 0px 0px;
    width: 100%;
    background-image: url('../images/batiment_isep.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* optimize for 320 x 480 px*/


.container-fluid {
    margin: 0px auto 0px auto;
    width: 100%;
    height: 100%;
}


.identifiants {
    margin-top: 10%;
    background-color: rgb(200,200,200);
    opacity: 0.8;
    border-radius: 10px;
}


.titre_form{
    text-align: center;
}


.bouton_connexion{
	/*background-color: rgb(120,120,220);
    border: solid black 1px;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    cursor: pointer;*/
}


.bouton_connexion:hover{
	background-color: rgb(90,90,90);
}


.new_grille{
    background-color: rgb(200,200,200);
    border-radius: 5px;
    opacity: 0.9;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}


.new_grille_lien{
    text-decoration: none;
    color: black;
    font-size: 28px;
}


.new_grille_lien:hover{
    text-decoration: none;
    color: rgb(100,100,100);
}


.grille{
    background-color: rgb(200,200,200);
    opacity: 0.9;
    border-radius: 5px;
    text-align: center;
}


.boite{
    display: block;
}


.attribution_grilles{
    background-color: rgb(200,200,200);
    border-radius: 5px;
    opacity: 0.9;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}


.btn{
    background-color: rgb(200,200,200);
}


.modif{
    float: left;
}


.suppr{
    float: right;
}


.table{
    background-color: rgb(150,150,150);
    opacity: 0.9;
    border-radius: 10px;
    border: solid rgb(230,230,230) 0px;
}